*{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    background-color:lightgrey;
}

.container{
    width:80%;
    margin: 0 auto;
    padding-bottom:30px;
}

.posts{
    width:100%;
    display: flex;
    justify-content:space-between;
    padding-top:30px;
}

.each-post{
    width:31%;
    border-radius:10px;
    background-color:white;
    padding:10px;
    cursor: pointer;
}

.post-img{
    width:100%;
    height:auto;
}

img{
    border-radius:10px;
    height:100%;
    width: 100%;
}

.post-content{
}

.title{
    text-align:center;
    margin:10px 0;
}

.description{
    text-align:justify;
}

.like{
    margin:10px 0;
    color:grey;
}